rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function validArticle() {
      return
        request.resource.data.keys().hasOnly([
          'title','description','content','author','publishedAt','status',
          'url','urlToImage','thumbnailPath','thumbnailString','tags',
          'sourceName','readingTime','language','createdAt','updatedAt','slug'
        ]) &&
        request.resource.data.title is string &&
        request.resource.data.author is string &&
        request.resource.data.description is string &&
        request.resource.data.content is string &&
        request.resource.data.status is string &&
        (
          !('thumbnailPath' in request.resource.data) ||
          (request.resource.data.thumbnailPath is string &&
           request.resource.data.thumbnailPath.matches('^/media/articles/.+'))
        ) &&
        (
          !('thumbnailString' in request.resource.data) ||
          (request.resource.data.thumbnailString is string)
        );
    }

    match /articles/{articleId} {
      allow read: if true;
      allow create, update: if validArticle();
      allow delete: if true;
    }
  }
}
